
<div id="workshop-index-banner">
  <div>
    <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606228589/ateliers%20celine/workshop_index_zuibmj.jpg" alt="BEA BONAFINI">
  </div>
    <div id="workshop-index-yellow-shape">
  </div>
  <div id="workshop-index-title">
    <h1>
      Abstract Painting <br>
      Atelier <br>
      BEA BONAFINI
    </h1>
    <br>
    <div class="rectangle"> </div>
    <br>
    <br>
    <h4>Discover Bea Bonafini painting techniques to transform your home in a contemporary exhibition</h4>
    <%= link_to "Join Now", subscriptions_path, class: "button-pink" %>
  </div>
</div>

<div class="container">
  <h1>Choose Your Atelier</h1>
  <br>
  <div class="rectangle"> </div>

  <h4>Categories:</h4>
  <div id="workshop-index-categories">
    <div class="workshop-index-category">
      <i class="fas fa-circle red-ball"></i>
      <h5>TRADITIONAL</h5>
    </div>
      <div class="workshop-index-category">
        <i class="fas fa-circle blue-ball"></i>
      <h5>FUNCTIONAL</h5>
    </div>
      <div class="workshop-index-category">
        <i class="fas fa-circle yellow-ball"></i>
      <h5>DISRUPTIVE</h5>
    </div>
      <div class="workshop-index-category">
        <i class="fas fa-circle lightblue-ball"></i>
      <h5>CONTEMPORARY</h5>
    </div>
</div>

<div class="cards">
  <% @workshops.each do |workshop| %>
    <div class="card-workshop">

      <div class="card-header">
        <div class="card-text">
          <p><%= workshop.name %></p>
          <!-- <p>Ateliers</p> -->
          <p><%= workshop.user.first_name %></p>
          <p style="font-size: 15px; color: #455CC7; font-weight: bold;"><%= workshop.category.upcase %></p>
        </div>

      </div>

      <div class="card-img-workshop">
        <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606303514/ateliers%20celine/lenephoto005_kgror8.jpg" alt="workshop">
      </div>

      <div class="card-button">
        <%= link_to "Discover", workshop_path(workshop), class: "button-minimal-thicker" %>
      </div>


    </div>
  <% end %>
</div>
