
<div id="workshop-index-banner">
  <div>
    <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606228589/ateliers%20celine/workshop_index_zuibmj.jpg" alt="BEA BONAFINI">
  </div>
    <div id="workshop-index-yellow-shape">
  </div>
  <div id="workshop-index-title">
    <h1>
      Abstract Painting <br>
      Atelier <br>
      BEA BONAFINI
    </h1>
    <br>
    <div class="rectangle"> </div>
    <br>
    <br>
    <h4>Discover Bea Bonafini painting techniques to transform your home in a contemporary exhibition</h4>
    <%= link_to "Join Now", workshops_path, class: "button-pink" %>
  </div>
</div>

<div class="container">
  <h1>Choose Your Atelier</h1>
  <br>
  <div class="rectangle"> </div>

  <h5>Categories:</h5>
  <div id="workshop-index-categories">
    <div class="workshop-index-category">
      <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606235642/ateliers%20celine/image_152_qv7c1l.png" alt="Traditional">
      <h5>TRADITIONAL</h5>
    </div>
      <div class="workshop-index-category">
      <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606235642/ateliers%20celine/image_153_a8cwgt.png" alt="Functional">
      <h5>FUNCTIONAL</h5>
    </div>
      <div class="workshop-index-category">
      <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606235642/ateliers%20celine/image_154_xlrqpl.png" alt="Disruptive">
      <h5>DISRUPTIVE</h5>
    </div>
      <div class="workshop-index-category">
      <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606235642/ateliers%20celine/image_177_mxfsgw.png" alt="Contemporary">
      <h5>CONTEMPORARY</h5>
    </div>
</div>

<div class="cards">
  <% @workshops.each do |workshop| %>
    <div class="card-workshop">

      <div class="card-header">

        <div class="card-category-img">
          <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606299331/ateliers%20celine/image_153_jkjboe.png" alt="traditional">
        </div>

        <div class="card-text">
          <p><%= workshop.name %></p>
          <p>Ateliers</p>
          <p><%= workshop.user.first_name %></p> 
          <p style="font-size: 15px; color: #455CC7; font-weight: bold;"><%= workshop.category.upcase %></p>
        </div>

      </div>

      <div class="card-img-workshop">
        <img src="https://res.cloudinary.com/yileijiang/image/upload/v1606303514/ateliers%20celine/lenephoto005_kgror8.jpg" alt="workshop">
      </div>

      <div class="card-button"> 
        <%= link_to "Discover", workshop_path(workshop), class: "button-minimal-thicker" %>
      </div>


    </div>
  <% end %>
</div>
