<h1> Workshop instructions </h1>

<div id="instructions-container">
  <div>
    <% counter = 1 %>
    <% @workshop.steps.each do |step| %>
    <div id="timeline-inline">
      <p id="ball_<%= step.id %>" class="ball"> <%= counter %>.<p>
      <p> <%= step.title %> </p>
      <% counter += 1 %>
    </div>
    <% end %>
  </div>

  <div>
    <% @workshop.steps.each do |step| %>
    <h4> <%= step.title %> </h4> <br>
    <%= step.description %> <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/<%= step.youtube_url %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <%= link_to "Done", mark_as_done_workshop_path(:step_id => step.id), method: :post, class: "button-pink timeline-button",  id: "done_#{step.id}" %>
    <% end %>
  </div>

</div>


