
<div id="profile-banner">
  <div class="container-profile">
    <h1> My Profile </h1>
    <br>
    <div class="rectangle"> </div>
    <div id="profile">

      <div id="profile-picture">
        <img src="https://images.unsplash.com/photo-1531123897727-8f129e1688ce?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=634&q=80" alt="user picture">
      </div>

      <div id="profile-description">
        <h5> <%= @user.username %></h5>
        <div id="profile-address">
          <i class="fas fa-user"> </i> <%= @user.first_name %> <%= @user.last_name %> <br>
          <i class="fas fa-envelope"> </i> <%= @user.email %> <br>
          <i class="fas fa-map-marker-alt"></i> <%= @user.street %>, <%= @user.postcode %> <%= @user.city %>
        </div>
        <br>

        <% if @user.bio == "" || @user.bio==nil %>
          <p>Nothing here yet. Please update your bio.</p>
        <% else %>
          <p id="bio"> <%= @user.bio %> </p>
        <% end %>
      </div>
    </div>
  </div>
</div>
                <%= link_to "Edit", edit_user_registration_path, class: "button-pink" %>


<div class="container">
  <h1> My Ateliers</h1>
    <br>
    <div class="rectangle"> </div>

    <div class="my-workshops">
      <div class="center-profile">
        <div class="index-cards">
          <% @workshops.each do |workshop| %>
          <% background_url = cl_image_path workshop.photo.key, width: 300, height: 400, crop: :fill %>
            <div class="test">
              <div class="index-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= background_url %>')"></div>
                  <p> <strong><%= workshop.name %></strong> </p>
                  <p><%= workshop.artist_name %></p>
                  <p style="font-size: 15px; color: #455CC7; font-weight: bold;"><%= workshop.category.upcase %></p>
                  <p> <%= link_to "Instructions", instructions_workshop_path(workshop), class: "button-minimal-thicker" %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>

</div>












