
<div class="center">
  <div class="center-child">
      <div class="workshop-discription">
    <div class="workshop-content-left">
      <h4>Checkout summary</h4>
      <img class="red-line" src="https://res.cloudinary.com/dxdboxbyb/image/upload/v1606232604/atelier-celine/Landing%20Page/cluepznhimc95jwz0ono.png" alt="">
      <p>Purchase of <strong><%= @order.subscription.sku %></strong> for <strong><%= humanized_money_with_symbol @order.amount %></strong></p>
      <button id="pay" class="button-pink">Confirm Payment</button>
      <script src="https://js.stripe.com/v3/"></script>
      <script>
        const paymentButton = document.getElementById('pay');
        paymentButton.addEventListener('click', () => {
          const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
          stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
          });
        });
      </script>
    </div>
  </div>
  </div>

</div>


<% @order.subscription.workshops.each do |workshop| %>
  <%= workshop.name %>
 
  <%= cl_image_tag(workshop.photo.key, width: 590, height: 280, :radius=>10) %>
<% end %>



<%= @user.first_name %>
<%= @user.last_name %>
<%= @user.email %>

<%= @user.country %>
<%= @user.state %>
<%= @user.street %>
<%= @user.postcode %>
<%= @user.city %>


